{% extends 'base.html' %}

{% include 'header.html' %}

{% block title %} controle de estoque {% endblock %}
{% block body %}


<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="p-3">
                <div style="height: 10vh; width: 100%;">
                    <div class="container w-50 d-flex justify-content-center align-items-center">
                        <form method="POST" action="{{url_for('estoque')}}" class="input-group">
                            <input type="search" class="form-control" placeholder="Pesquisar por item" name="estoque"
                                aria-label="Pesquisar por item" aria-describedby="basic-addon2" autocomplete="off">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="submit">Buscar</button>                                
                                <a href="{{url_for('index')}}" type="button" class="btn btn-success ms-2">Página Inicial</a>
                            </div>
                    
                        </form>
                    </div>
                </div>
                <div class=" mh-50" style="overflow:auto; height: 60vh;">
                    
                    <table class="table table-hover table-dark">

                        <tr>
                            <th>Código</th>
                            <th>Descrição</th>
                            <th>Nº Id Produto</th>
                            <th>Unidade</th>
                            <th>Saldo</th>
                            <th>Reservado</th>
                            <th>Físico</th>
                            <th>Estoque Mínimo</th>
                        </tr>


                        
                        <tr>
                            
                            <td>{{estoque.get("cCodigo")}}</td>
                            <td>{{estoque.get("cDescricao")}}</td>
                            <td>{{estoque.get("nIdProduto")}}</td>
                            <td>{{estoque.get("cUnidade")}}</td> 
                            {%for row in estoque["listaEstoque"]%}
                            <td>{{row.get("nSaldo")}}</td>                           
                            <td>{{row.get("reservado")}}</td>
                            <td>{{row.get("fisico")}}</td>
                            <td>{{row.get("nEstoqueMinimo")}}</td>
                            {%endfor%}                        
                        </tr>

                       
                    </table>
                        
                </div>





            </div>
        </div>
    </div>
</div>


{% endblock %}