{% extends 'base.html' %}

{% include 'header.html' %}

{% block title %} estrutura da Op {% endblock %}
{% block body %}

<div class=" p-2 w-100 table-responsive margin-top">
    <h3 class="d-flex justify-content-center mt-2">Itens consumidos para a produção do lote {{lote}} referente a OP {{op}}</h3>
    <div class="input-group mb-3 d-flex justify-content-start">
        <div class="input-group-append">
            <a href="{{url_for('ordens_producao')}}" type="button" class="btn btn-success ms-2">Voltar</a>
        </div>
    </div>
    <table class="table">
        <tr class="bg-info info_estrutura">
            {%for row in op_dados%}
            <td>OP Nº = {{ row.numero_op }}</td>
            <td>Lote Nº = {{ lote }}</td>
            <td>Item = {{ row.item }}</td>
            <td>Item = {{ row.descrição }}</td>
            <td>Qtd. OP: = {{ row.quantidade }}</td>
            {%endfor%}
        </tr>
    </table>
    <div class="container_table table-responsive">
       
        <table class="table bcgrownd">
            <tr class="bg-secondary">
                <td>Item</td>
                <td>Desc. Item</td>
                <td>Quant. Produto</td>
                <td>Ações</td>
            </tr>
            {%for row in itens_movimentados%}
            <tr class="bg-muted">
                
                <td>{{ row.item_movimento}}</td>
                <td>{{ row.descricao}}</td>         
                <td>{{ row.quantidade_movimento}}</td>
                {%for i in op_dados%}        
                {%if i.situação == "Aberta"%}
                <td>
                    <div class="icons">
                        <!-- <div class="row{{row.id}}">
                            <a class=" btn btn-warning btn-xs">
                                <img src="{{url_for('static', filename='images/pencil-fill.svg')}}" alt="">
                            </a>
                        </div> -->
                        <div class="hide btnSave" id="btnSave">
                            <a class="editItem btn btn-info btn-xs"><img
                                    src="{{url_for('static', filename='images/pencil-fill.svg')}}" alt="">
                            </a>
                        </div>
                        <form action="{{url_for('deleta_movimento_item')}}" method="post" type="hidden" >
                            <input type="hidden" name="id" value="{{row.id}}">     
                            <button type="submit" class="btn btn-danger btn-xs"><img
                                src="{{url_for('static', filename='images/trash3-fill.svg')}}" alt="">
                            </button>                           
                        </form>
                    </div>
                </td>
                {%endif%}
                {%endfor%}
            </tr>
            {%endfor%}
        </table>
        {%for i in op_dados%}
        {%if i.situação == "Aberta"%}
        <div class="border-top my-2"></div>
        <h6>Adcionar novo item nesse lote</h6>
        <form action="{{ url_for('movimento_estoque') }}" method="post">
            <input name="item">
            <input name="quantidade">
            <input type="hidden" name="op" value="{{ i.numero_op }}">
            <input type="hidden" name="item_referencia" value="{{ i.item }}">
            <input type="hidden" name="op_qtd" value="{{ i.quantidade }}">
            <input type="hidden" name="numero_lote" value="{{lote}}">
            <input type="hidden" name="id" value="{{i.id}}">
            <button type="submit" class="btn btn-success ms-2 desativarBotao" onclick="this.disabled=true;this.value='Submitting...'; this.form.submit();"><img
                src="{{url_for('static', filename='images/plus-lg.svg')}}" alt=""></button>
        </form>

        
        <div class="border-top mt-4"></div>
        <h6>Itens sugeridos pela estrutura</h6>
        <table class="table table-secondary w-50">
            {%for row in item_recomendado_estrutura%}
        
            {{numero_lote}}
                <form action="{{ url_for('movimento_estoque') }}" method="post">
                    <tr>                        
                    <td>{{row.item_estrutura}}</td>
                    <td>{{row.descricao_item}}</td>
                    <input type="hidden" name="item" value="{{row.item_estrutura}}" readonly>
                    <input type="hidden" name="descricao" value="{{row.descricao_item}}" readonly>
                    <td><input name="quantidade" value="{{row.quantidade_item}}"></td>
                    <input type="hidden" name="op" value="{{ i.numero_op }}">
                    <input type="hidden" name="id" value="{{row.id}}">
                    <input type="hidden" name="item_referencia" value="{{ i.item }}">
                    <input type="hidden" name="numero_lote" value="{{lote}}">
                    <td>
                        <button type="submit" class="btn btn-success ms-2 desativarBotao" onclick="this.disabled=true;this.value='Submitting...'; this.form.submit();"><img
                        src="{{url_for('static', filename='images/plus-lg.svg')}}" alt=""></button>
                    </td>
                    </tr>
                </form>
            {%endfor%}
        </table>
        
            
        {%endif%}
        {%endfor%}
    </div>
   
    </div>

</div>

{% endblock %}