{% extends 'base.html' %}

{% include 'header.html' %}

{% block title %} estrutura da Op {% endblock %}
{% block body %}


<div class="container w-75">

    <div class="input-group mb-3 d-flex justify-content-end">
        <form method="POST" action="{{url_for('estrutura_op')}}" class="input-group w-50">
            <input type="search" class="form-control  w-25" placeholder="Pesquisar por item" name="estrutura_op"
                aria-label="Pesquisar por item" aria-describedby="basic-addon2" autocomplete="off">
            <div class="input-group-append">
                <button class="btn btn-success ms-1" type="submit">Buscar</button>
                <a href="{{url_for('itens')}}" type="button" class="btn btn-success ms-2">Lista de itens</a>
            </div>

        </form>
    </div>

    <table class="table table-striped">

        <tr class="bg-info">
           {% if estrutura_op.get('ident') == None %}
                <h1>Item sem estrutura cadastrada</h1>
            
            {%else%}
                <td>OP Nº = {{ ref[0] }}</td>
                <td>Item = {{ ref[1] }}</td>
                <td>Descrição = {{ ref[2] }}</td>
                <td>Quantidade da op = {{ ref[3] }}</td>
            {%endif%}
        </tr>

    </table>
    <div class="container_table">
        <table class="table table-striped">
            <tr class="bg-secondary">
                <td>Desc. Familia</td>
                <td>Desc. Produto</td>
                <td>Id. Familia</td>
                <td>Id. Malha</td>
                <td>Id. Produto</td>
                <td>intProdMalha</td>
                <td>Perc. Perda</td>
                <td>Peso Bruto</td>
                <td>Peso Liquido</td>
                <td>Quant. Produto</td>
                <td>Tipo Produto</td>
                <td>uAltProdMalha</td>
                <td>uIncProdMalha</td>
                <td>unidProdMalha</td>
            </tr>
            {%for row in estrutura_op["itens"]%}
            <tbody id="myTable">
                
                <td>{{ row.get("descrFamMalha")}}</td>
                <td>{{ row.get("descrProdMalha")}}</td>
                <td>{{ row.get("idFamMalha")}}</td>
                <td>{{ row.get("idMalha")}}</td>
                <td>{{ row.get("idProdMalha")}}</td>
                <td>{{ row.get("intProdMalha")}}</td>
                <td>{{ row.get("percPerdaProdMalha")}}</td>
                <td>{{ row.get("pesoBrutoProdMalha")}}</td>
                <td>{{ row.get("pesoLiqProdMalha")}}</td>
                <td><input type="float" id="qtd_value" value="{{ row.get('quantProdMalha') }}"></td>
                <td>{{ row.get("tipoProdMalha")}}</td>
                <td>{{ row.get("uAltProdMalha")}}</td>
                <td>{{ row.get("uIncProdMalha")}}</td>
                <td>{{ row.get("unidProdMalha")}}</td>
                
            </tbody>
            {%endfor%}
        </table>
            <form action="{{ url_for('movimento_estoque') }}" method="post">
                <input type="hidden" name="item" value="{{ ref[1] }}">
                <input type="hidden" name="id" value="{{ ref[0] }}">
                <input type="hidden" name="op_qtd" value="{{ ref[3] }}">
                <button type="submit" class="btn btn-success ms-2">Encerrar Op</button>
            </form>
       
    </div>
    

</div>

{% endblock %}