{% extends 'base.html' %}
{% block body %}

<!-- <div class="container w-50 d-flex justify-content-center align-items-center">
    <form method="POST" action="{{url_for('busca')}}" class="input-group">
        <input type="search" class="form-control" placeholder="Pesquisar por item" name="search"
            aria-label="Pesquisar por item" aria-describedby="basic-addon2" autocomplete="off">
        <div class="input-group-append">
            <button class="btn btn-success" type="submit">Buscar</button>
        </div>

    </form>
</div>

<div class="input-group mb-3 d-flex justify-content-end">
    <form method="POST" action="{{url_for('estrutura')}}" class="input-group w-50">
        <input type="search" class="form-control  w-25" placeholder="Pesquisar por item" name="estrutura"
            aria-label="Pesquisar por item" aria-describedby="basic-addon2" autocomplete="off">
        <div class="input-group-append">
            <button class="btn btn-success ms-1" type="submit">Buscar</button>
        </div>

    </form>
</div> -->
<main class="cards">
    <section class="card contact">
        <div class="icon">
            <img src="{{ url_for('static', filename='images/list-check.svg')}}" alt="lista de itens">
        </div>
        <h3>Lista de itens</h3>
        <span>Visualizar, acessar e editar itens</span>
        <a href="{{ url_for('itens')}}"><button>Acessar</button></a>
    </section>
    <section class="card shop">
        <div class="icon">
            <img src="{{ url_for('static', filename='images/pencil-square.svg')}}" alt="Gerenciamento de ops">
        </div>
        <h3>Controle de OPs</h3>
        <span>Gerenciar ordens de produção</span>
        <a href="{{ url_for('ordens_producao')}}"><button>Acessar</button></a>
    </section>
    <section class="card about">
        <div class="icon">
            <img src="{{ url_for('static', filename='images/inboxes.svg')}}" alt="gerenciar estoque">
        </div>
        <h3>Controle de estoque</h3>
        <span>Gerenciamento de estoque</span>
        <a href="{{ url_for('consulta_estoque')}}"><button>Acessar</button></a>
    </section>
</main>
{% endblock %}