{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Lista de itens {% endblock %}
{% block body %}


<div class="w-100 margin-top p-1">
    <div class="row">
        <div class="col md-12">
            <div class="p-1">
                <h2 class=" d-flex justify-content-center"><strong>Cadastro de itens</strong></h2>
                <div class="page-top-itens">
                    <div class="container w-100 d-flex justify-content-center">
                        <form method="POST" action="{{url_for('busca')}}" class="input-group">
                            <input type="search" class="form-control" placeholder="Pesquisar por item" name="search"
                                aria-label="Pesquisar por item" aria-describedby="basic-addon2" autocomplete="off">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="submit">Buscar</button>
                            </div>
                        </form>
                        
                        
                    </div>

                    

                    <div class="container w-100">

                        {% with messages=get_flashed_messages(with_categories=true) %}
                        {%if messages%}
                        {%for category, message in messages%}
                        <div class="alert alert-success">
                            {{message}}
                            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close">
                            </button>
                        </div>
                        {%endfor%}
                        {%endif%}
                        {%endwith%}
                    </div>
                </div>
                <div class="container_table">
                    
                    <table class="table table-hover table-info">

                        <tr>
                            <th>Código</th>
                            <th>Descrição</th>
                            <th>Código NCM</th>
                            <th>Unidade</th>
                            <th>Alterado por:</th>
                            <th>Ação</th>
                        </tr>


                        {%for row in lista_itens["produto_servico_cadastro"]%}
                        
                        <tr>
                            <td>{{row.get("codigo")}}</td>
                            <td>{{row.get("descricao")}}</td>
                            <td>{{row.get("ncm")}}</td>
                            <td>{{row.get("unidade")}}</td>
                            <td>{{row.get("info").get("uAlt")}}</td>
                            <td>
                                <div  class="icons">
                                    <div>
                                        <form action="{{ url_for('estrutura') }}" method="post" type="hidden">
                                            <button name="item"  value="{{row.get('codigo')}}" class="btn btn-info btn-xs" ><img
                                                src="{{url_for('static', filename='images/card-list.svg')}}" alt=""></button>
                                        </form>
                                    </div>
                                    <div>
                                        <a href="update" class="editItem btn btn-warning btn-xs" data-bs-toggle="modal"
                                            data-bs-target="#edit_item_Modal{{row.get('codigo')}}"><img
                                                src="{{url_for('static', filename='images/pencil-fill.svg')}}" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a href="delete/{{row.codigo}}" class="btn btn-danger btn-xs"
                                            onclick="return confirm('Tem certeza que quer deletar este item ?')"><img
                                                src="{{url_for('static', filename='images/trash3-fill.svg')}}" alt="">
                                        </a>
                                    </div>
                                </div>
                            </td>

                        </tr>
                        {% include 'edit_modal.html' %}
                        {%endfor%}
                    </table>

                </div>





            </div>
        </div>
    </div>
</div>


{% endblock %}