{% extends 'base.html' %}

{% include 'header.html' %}

{% block title %} Lista de movimentos {% endblock %}
{% block body %}


<div class="w-100 p-2 margin-top">
    <div class="mb-2">
        <form action="{{url_for('lista_movimento_filtro')}}" method="get" class="input-group ">
            <input type="date" id="data" name="data_movimento"
            value="2023/01/01"
            min="2023-01-01" max="2023-12-31">

            <button type="submit" class="btn btn-success ms-1">Filtrar</button>         
        </form>        
    </div>

    <div class="row">
        <div class="col">
            <div class="table-responsive container_table">
                
                
                <table class="table table table-striped table-secondary">

                    <tr class="table-success">                        
                        <th>Id</th>
                        <th>Item</th>
                        <th>Descrição</th>
                        <th>Lote</th>
                        <th>Op. Ref</th>
                        <th>Item Ref.</th>
                        <th>Saldo anterior</th> 
                        <th>Qtd saída</th> 
                        <th>Saldo atual</th> 
                        <th>Data</th>
                        <th>Hora</th>
                    </tr>


                    {% for row in movimentos.items %}
                    <tr>                      
                        <td>{{row.id}}</td>
                        <td>{{row.item_movimento}}</td>
                        <td>{{row.descricao}}</td>
                        <td>{{row.numero_lote}}</td>
                        <td>{{row.op_referencia}}</td> 
                        <td>{{row.item_referencia}}</td> 
                        <td>{{"%.2f" % row.saldo_anterior}}</td>
                        <td>{{"%.2f" % row.quantidade_movimento}}</td>
                        <td>{{"%.2f" % row.saldo_atual}}</td>                     
                        <td>{{row.data_movimento}}</td>
                        <td>{{row.hora_movimento}}</td> 
                    </tr>
                    {% endfor %}
                </table>

            </div>
            

            {% for page_num in movimentos.iter_pages(left_edge=1, right_edge=1,
                left_current=1, right_current=2) %} {% if page_num %} {% if movimentos.page ==
                page_num %}
                <a
                  class="btn btn-dark mb-4"
                  href="{{ url_for('lista_movimento', page=page_num) }}"
                  >{{ page_num }}</a
                >
                {% else %}
                <a
                  class="btn btn-outline-dark mb-4"
                  href="{{ url_for('lista_movimento', page=page_num) }}"
                  >{{ page_num }}</a
                >
                {% endif %} {% else %} ... {% endif %} {% endfor %}
         
        </div>
    </div>
</div>

{% endblock %}