{% extends 'base.html' %}

{% include 'header.html' %}

{% block title %} Lista de movimentos {% endblock %}
{% block body %}


<div class="container margin-top">
    <div class="row">
        <div class="col md-12">
            <div class="p-3 table-responsive">
                <div class="col  md-3 p-3">
                    <form action="{{url_for('lista_movimento_filtro')}}" method="get">
                        <input type="date" id="data" name="data_movimento"
                        value="2023/01/01"
                        min="2023-01-01" max="2023-12-31">

                        <button type="submit" class="btn btn-info">Filtrar</button>
                    </form>
                    
                </div>
                
                <table class="table table table-striped table-secondary movimento">

                    <tr class="table-info">                        
                        <th>Id</th>
                        <th>Item</th>
                        <th>Descrição</th>
                        <th>Cod. Família</th>
                        <th>Desc. Família</th>  
                        <th>Op. Ref</th>
                        <th>Item Ref.</th>
                        <th>Saldo anterior</th> 
                        <th>Qtd saída</th> 
                        <th>Saldo atual</th> 
                        <th>Qtd. unitária</th> 
                        <th>Id Família</th> 
                        <th>Id Malha</th> 
                        <th>Id Prod. Malha</th> 
                        <th>Int. Prod malha</th> 
                        <th>Perda</th> 
                        <th>Peso bruto</th> 
                        <th>peso liquido</th> 
                        <th>Tipo</th> 
                        <th>uAltProdMalha</th> 
                        <th>uIncProdMalha</th>
                        <th>unidProdMalha</th>
                        <th>Data</th>
                        <th>Hora</th>
                    </tr>


                    {% for row in filtro.items %}
                    <tr>                      
                        <td>{{row.id}}</td>
                        <td>{{row.item_movimento}}</td>
                        <td>{{row.descrProdMalha}}</td>
                        <td>{{row.codFamMalha}}</td> 
                        <td>{{row.descrFamMalha}}</td> 
                        <td>{{row.op_referencia}}</td> 
                        <td>{{row.item_referencia}}</td> 
                        <td>{{"%.2f" % row.saldo_anterior}}</td>
                        <td>{{"%.2f" % row.quantidade_movimento}}</td>
                        <td>{{"%.2f" % row.saldo_atual}}</td>
                        <td>{{row.quantProdMalha}}</td> 
                        <td>{{row.idFamMalha}}</td> 
                        <td>{{row.idMalha}}</td>  
                        <td>{{row.idProdMalha}}</td>
                        <td>{{row.intProdMalha}}</td>
                        <td>{{row.percPerdaProdMalha}}</td>
                        <td>{{row.pesoBrutoProdMalha}}</td> 
                        <td>{{row.pesoLiqProdMalha}}</td> 
                        <td>{{row.tipoProdMalha}}</td> 
                        <td>{{row.uAltProdMalha}}</td> 
                        <td>{{row.uIncProdMalha}}</td>
                        <td>{{row.unidProdMalha}}</td>
                        <td>{{row.data_movimento}}</td>
                        <td>{{row.hora_movimento}}</td> 
                    </tr>

                    {% endfor %}
                </table>

                <div>{{filtro}}</div>
             
            </div>
        </div>
    </div>
</div>

{% endblock %}