{% extends 'base.html' %}

{% include 'header.html' %}

{% block title %} ordens de produção {% endblock %}
{% block body %}


<div class="margin-top w-100">
    <div class="row">
        <div class="col md-12">
            <div class="m-1">
                <h2 class="d-flex justify-content-center mt-2"><strong>Gerenciar Ops</strong></h2>
               
                <div>

                    

                    <div class="input-group d-flex justify-content-end w-100">
                        <button type="button" class="btn btn-success ms-1 d-flex justify-content-end" data-bs-toggle="modal"
                        data-bs-target="#add_op_Modal">Abrir OP</button>
                        <form method="POST" action="{{url_for('busca')}}" class="input-group w-25 input-group d-flex justify-content-start ms-4">
                        <input type="search" class="form-control  w-25" placeholder="Pesquisar por item" name="search" aria-label="Pesquisar por item" aria-describedby="basic-addon2" autocomplete="off">
                        <div class="input-group-append">
                        <button class="btn btn-success ms-1" type="submit">Buscar</button>
                        </form>
                    </div>
                </div>

                <div class="container w-100">

                    {% with messages=get_flashed_messages(with_categories=true) %}
                    {%if messages%}
                    {%for category, message in messages%}
                    <div class="alert alert-success">
                        {{message}}
                        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
                    {%endfor%}
                    {%endif%}
                    {%endwith%}
                </div>

            <div class="container_table m-1">

                <table class="table table-hover table-info">

                    <tr class="table-primary">                        
                        <th>Nº OP</th>
                        <th>Situação</th>
                        <th>Item</th>
                        <th>Descrição</th>
                        <th>Quantidade</th>  
                        <th>Data</th>
                        <th>Hora</th> 
                        <th>Ações</th> 
                    </tr>


                    {% for row in itens.items %}
                    
                    <tr class='{{"table-dark" if row.situação == "Encerrada" else ""}}'>                      
                        <td>{{row.numero_op}}</td>
                        <td>{{row.situação}}</td>
                        <td>{{row.item}}</td>
                        <td>{{row.descrição}}</td> 
                        <td>{{row.quantidade}}</td> 
                        <td>{{row.data_abertura}}</td> 
                        <td>{{row.hora_abertura}}</td> 
                        {% if row.situação == "Encerrada" %}
                        <td>
                            <form action="op/{{row.numero_op}}" method="post" type="hidden" >
                                <input type="hidden" name="item" value="{{row.item}}">
                                <input type="hidden" name="numero_op" value="{{row.numero_op}}">
                                <input type="hidden" name="op_qtd" value="{{row.quantidade}}">
                                <input type="hidden" name="descricao" value="{{row.descrição}}">     
                                <button type="submit" for="myForm" class="btn btn-primary btn-xs"><img
                                src="{{url_for('static', filename='images/eye.svg')}}" alt=""></button>                           
                            </form>
                        </td>
                        {% else %}
                        <td>
                            <div  class="icons">
                                <div>
                                    <a href="update_op/{{row.id}}" class="editItem btn btn-warning btn-xs " data-bs-toggle="modal"
                                        data-bs-target="#edit_op_modal{{row.id}}"><img
                                        src="{{url_for('static', filename='images/pencil-fill.svg')}}" alt="">
                                    </a>
                                </div>
                                <div>
                                    <a href="delete_op/{{row.id}}" class="btn btn-danger btn-xs"
                                        onclick="return confirm('Tem certeza que quer deletar este item ?')"><img
                                            src="{{url_for('static', filename='images/trash3-fill.svg')}}" alt="">
                                    </a>
                                </div>
                                <div>           
                                    <form action="op/{{row.numero_op}}" method="post" type="hidden" >
                                                <input type="hidden" name="item" value="{{row.item}}">
                                                <input type="hidden" name="numero_op" value="{{row.numero_op}}">
                                                <input type="hidden" name="op_qtd" value="{{row.quantidade}}">
                                                <input type="hidden" name="descricao" value="{{row.descrição}}">     
                                                <button type="submit" for="myForm" class="btn btn-info btn-xs"><img
                                        src="{{url_for('static', filename='images/card-list.svg')}}" alt=""></button>                           
                                    </form>
                                </div>
                            </div>
                        </td>
                        {% endif %}
                    </tr>


                    {% include 'edit_modal.html' %}
                    {% endfor %}
                </table>
            </div>
                {% include 'add_modal.html' %}

                {% for page_num in itens.iter_pages(left_edge=1, right_edge=1,
                    left_current=1, right_current=2) %} {% if page_num %} {% if itens.page ==
                    page_num %}
                    <a
                      class="btn btn-dark mb-4"
                      href="{{ url_for('ordens_producao', page=page_num) }}"
                      >{{ page_num }}</a
                    >
                    {% else %}
                    <a
                      class="btn btn-outline-dark mb-4"
                      href="{{ url_for('ordens_producao', page=page_num) }}"
                      >{{ page_num }}</a
                    >
                    {% endif %} {% else %} ... {% endif %} {% endfor %}
             
            </div>
        </div>
    </div>
</div>

{% endblock %}